<div class="container login-window">
    <h1>{{vm.pageTitle}}</h1>

    <form ng-submit="vm.login()">
        <div class="form-group">
            <label for="login">Имя пользователя</label>
            <input ng-keyup="vm.validate()" ng-model="vm.fLogin" class="form-control" id="login" type="text">
        </div>
        <div class="form-group">
            <label for="password">Пароль</label>
            <input ng-keyup="vm.validate()" ng-model="vm.fPassword" class="form-control" id="password" type="password">
        </div>
        <div class="form-group">
            <label for="password">Пароль еще раз</label>
            <input ng-blur="vm.checkPass()" ng-model="vm.fPassword2" class="form-control" id="password" type="password">
        </div>

        <div ng-show="vm.isInvalidForm1 && vm.fLogin.length && vm.fPassword.length" class="alert-danger">
            Длина логина не менее 3 и не более 6 символов. Длина пароля не менее 6.
        </div>

        <div ng-show="vm.isInvalidForm2 && vm.fPassword2.length" class="alert-danger">
            Введенные пароли не совпадают!
        </div>
        <div ng-show="vm.errorMsg.length" class="alert-danger">
            {{vm.errorMsg}}
        </div>


        <button ng-disabled="vm.isInvalidForm1" ng-disabled="vm.isInvalidForm2" class="btn btn-primary" type="submit"
                id="add-register-button">Регистрация
        </button>
    </form>
</div>
<style>

    .login-window {
        width: 360px;
        border: 1px solid grey;
        padding: 25px;
        border-radius: 10px;
    }

    .login-window .alert-danger {
        margin-bottom: 10px;
        padding: 6px;
    }
</style>