<div ng-switch="ngModel.type">

    <tftf-question ng-switch-when="TF" ng-model="ngModel">
    </tftf-question>

    <mcc-question ng-switch-when="MCC" ng-model="ngModel">
    </mcc-question>

    <mcr-question ng-switch-when="MCR" ng-model="ngModel">
    </mcr-question>

    <mcq-question ng-switch-when="MCQ" ng-model="ngModel">
    </mcq-question>

    <nn-question ng-switch-when="N" ng-model="ngModel">
    </nn-question>

    <nmcnmc-question ng-switch-when="NMC" ng-model="ngModel">
    </nmcnmc-question>

    <mm-question ng-switch-when="M" ng-model="ngModel">
    </mm-question>

</div>